{
    BasedOnStyle: llvm,
    IndentWidth: 4,
    BreakBeforeBraces: Custom,
    BraceWrapping: {
        AfterFunction: true,
        AfterClass: true,
        AfterStruct: true,
        AfterNamespace: true,
        AfterUnion: true,
        AfterEnum: true,
        AfterControlStatement: MultiLine,
        SplitEmptyFunction: false,
        SplitEmptyRecord: false,
        },
    ColumnLimit: 120,
    AllowShortIfStatementsOnASingleLine: Never,
    AllowShortLoopsOnASingleLine: false,
    PointerAlignment: Left,
    AccessModifierOffset: -4,
    AllowShortFunctionsOnASingleLine: None,
    AlignConsecutiveAssignments: false,
    AlignConsecutiveDeclarations: false,
    AlignTrailingComments: true,
    AllowAllParametersOfDeclarationOnNextLine: false,
    BinPackParameters: false,
    BinPackArguments: false,
    NamespaceIndentation: All,
    AlignAfterOpenBracket: Align,
    AllowAllArgumentsOnNextLine: false,
    AllowAllConstructorInitializersOnNextLine: false,
    AllowShortLambdasOnASingleLine: All,
    AlwaysBreakAfterReturnType: None,
    AlwaysBreakAfterDefinitionReturnType: None,
    PenaltyReturnTypeOnItsOwnLine: 1000000,
    SpaceBeforeRangeBasedForLoopColon: false,
    FixNamespaceComments: false,
    SpaceBeforeInheritanceColon: false,
    AlwaysBreakTemplateDeclarations: No,
    SpaceAfterTemplateKeyword: false,
    IndentCaseLabels: true,
    BreakConstructorInitializers: BeforeColon,
    ConstructorInitializerAllOnOneLineOrOnePerLine: true,
    AllowShortCaseLabelsOnASingleLine: false,
    SpaceBeforeCtorInitializerColon: false,
}
